table.listing {
    border: 1px solid #DDDDDD;
    font-size: 90%;
}
table.listing th{
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #E7E7E7;
    border-style: solid solid none;
    border-width: 0.1em;
    color: #666666;
    text-align: left;
    font-weight: bold;
}
table.listing td {
    border: 1px solid #DDDDDD;
}
table.listing tbody tr.odd {
    background: none repeat scroll 0 0 #EEEEEE;
}